$typography-font-family = "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
        "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"


$title-color = rgba(0, 0, 0, 0.87)
$layout-bgColor = #f0f2f5
$primary = $teal-6
$secondary = #027BE3

